<?xml version="1.0"?>
<config>
    <modules>
        <Trustpilot_Reviews>
            <version>#{Octopus.Release.Number}</version>
        </Trustpilot_Reviews>
    </modules>
    <admin>
        <routers>
            <trustpilot>
                <use>admin</use>
                <args>
                    <module>Trustpilot_Reviews</module>
                    <frontName>trustpilot</frontName>
                </args>
            </trustpilot>
            <adminhtml>
                <args>
                    <modules>
                        <trustpilot_reviews before="Mage_Adminhtml">Trustpilot_Reviews_Adminhtml</trustpilot_reviews>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <trustpilot>
                <class>Trustpilot_Reviews_Block</class>
            </trustpilot>
        </blocks>
        <helpers>
            <trustpilot>
                <class>Trustpilot_Reviews_Helper</class>
            </trustpilot>
        </helpers>
        <models>
            <trustpilot>
                <class>Trustpilot_Reviews_Model</class>
            </trustpilot>
        </models>
        <events>
            <admin_system_config_changed_section_trustpilot>
                <observers>
                    <Trustpilot_Reviews>
                        <type>singleton</type>
                        <class>Trustpilot_Reviews_Model_ConfigObserver</class>
                        <method>execute</method>
                    </Trustpilot_Reviews>
                </observers>
            </admin_system_config_changed_section_trustpilot>
            <admin_system_config_changed_section_trustpilot_trustbox>
                <observers>
                    <Trustpilot_Reviews>
                        <type>singleton</type>
                        <class>Trustpilot_Reviews_Model_ConfigObserver</class>
                        <method>execute</method>
                    </Trustpilot_Reviews>
                </observers>
            </admin_system_config_changed_section_trustpilot_trustbox>
             <sales_order_save_after>
                <observers>
                    <sales_order_save_after_trustpilot_reviews>
                        <type>singleton</type>
                        <class>Trustpilot_Reviews_Model_OrderSaveObserver</class>
                        <method>execute</method>
                    </sales_order_save_after_trustpilot_reviews>
                </observers>
            </sales_order_save_after>
        </events>
        <resources>
            <trustpilot_reviews_setup>
                <setup>
                    <module>Trustpilot_Reviews</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </trustpilot_reviews_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <trustpilot>
                    <file>trustpilot.xml</file>
                </trustpilot>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <trustpilot>
                    <file>trustpilot.xml</file>
                </trustpilot>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <trustpilot>
                                            <title>Trustpilot Module Section</title>
                                        </trustpilot>
                                        <trustpilot_trustbox>
                                            <title>Store TrustBox settings</title>
                                        </trustpilot_trustbox>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
