<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <trustpilot>
            <label>Trustpilot</label>
            <sort_order>400</sort_order>
        </trustpilot>
    </tabs>
    <sections>
        <trustpilot module="trustpilot">
            <label>General</label>
            <tab>trustpilot</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <trustpilot_general_group translate="label">
                    <label>Trustpilot General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <comment></comment>
                    <fields>
                        <master_settings_field>
                            <sort_order>1</sort_order>
                            <frontend_type>text</frontend_type>
                            <frontend_model>trustpilot/adminhtml_system_config_form_admin</frontend_model>
                            <show_in_default>0</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </master_settings_field>
                        <defaultMessage>
                            <frontend_type>label</frontend_type>
                            <sort_order>1</sort_order>
                            <frontend_model>trustpilot/adminhtml_system_config_form_message</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </defaultMessage>
                    </fields>
                 </trustpilot_general_group>
            </groups>
        </trustpilot>
    </sections>    
</config>